object_detection/ssd_mobilenet_v1_coco_11_06_2017.tar.gz
object_detection/__pycache__
object_detection/.vscode
object_detection/dataset_tools
object_detection/data_decoders
object_detection/dataset_tools
object_detection.egg-info
build
dist
object_detection/#object_detector.py#
object_detection/__pycache__/__init__.cpython-35.pyc
.vscode/settings.json
object_detection/utils/__pycache__/app_utils.cpython-35.pyc
object_detection/utils/__pycache__/app_utils.cpython-36.pyc
object_detection/utils/__pycache__/__init__.cpython-35.pyc
object_detection/utils/__pycache__/__init__.cpython-36.pyc
object_detection/utils/__pycache__/label_map_util.cpython-35.pyc
object_detection/utils/__pycache__/label_map_util.cpython-36.pyc
object_detection/utils/__pycache__/network_utils.cpython-36.pyc
object_detection/utils/__pycache__/ops.cpython-35.pyc
object_detection/utils/__pycache__/shape_utils.cpython-35.pyc
object_detection/utils/__pycache__/static_shape.cpython-35.pyc
object_detection/utils/__pycache__/visualization_utils.cpython-35.pyc
object_detection/utils/__pycache__/visualization_utils.cpython-36.pyc
object_detection/np_tester.py
../.vscode/settings.json
../.vscode/.
../.vscode/..
../.vscode/.ropeproject
../.vscode/.ropeproject/config.py
../.vscode/.ropeproject/objectdb
../.vscode/.ropeproject/
.vscode/.ropeproject/
dev_testers/a.out
dev_testers/cDevCapture.cpp
dev_testers/json_tester.py
dev_testers/objDict_tester.py
dev_testers/tcpserver_tester.py
ssd_mobilenet_v1_0.75
ssd_mobilenet_v1_coco_11_06_2017
protos
protos/anchor_generator_pb2.py
protos/anchor_generator.proto
protos/argmax_matcher_pb2.py
protos/argmax_matcher.proto
protos/bipartite_matcher_pb2.py
protos/bipartite_matcher.proto
protos/box_coder_pb2.py
protos/box_coder.proto
protos/box_predictor_pb2.py
protos/box_predictor.proto
protos/eval_pb2.py
protos/eval.proto
protos/faster_rcnn_box_coder_pb2.py
protos/faster_rcnn_box_coder.proto
protos/faster_rcnn_pb2.py
protos/faster_rcnn.proto
protos/grid_anchor_generator_pb2.py
protos/grid_anchor_generator.proto
protos/hyperparams_pb2.py
protos/hyperparams.proto
protos/image_resizer_pb2.py
protos/image_resizer.proto
protos/__init__.py
protos/input_reader_pb2.py
protos/input_reader.proto
protos/keypoint_box_coder_pb2.py
protos/keypoint_box_coder.proto
protos/losses_pb2.py
protos/losses.proto
protos/matcher_pb2.py
protos/matcher.proto
protos/mean_stddev_box_coder_pb2.py
protos/mean_stddev_box_coder.proto
protos/model_pb2.py
protos/model.proto
protos/multiscale_anchor_generator_pb2.py
protos/multiscale_anchor_generator.proto
protos/optimizer_pb2.py
protos/optimizer.proto
protos/pipeline_pb2.py
protos/pipeline.proto
protos/post_processing_pb2.py
protos/post_processing.proto
protos/preprocessor_pb2.py
protos/preprocessor.proto
protos/__pycache__
protos/region_similarity_calculator_pb2.py
protos/region_similarity_calculator.proto
protos/square_box_coder_pb2.py
protos/square_box_coder.proto
protos/ssd_anchor_generator_pb2.py
protos/ssd_anchor_generator.proto
protos/ssd_pb2.py
protos/ssd.proto
protos/string_int_label_map_pb2.py
protos/string_int_label_map.proto
protos/train_pb2.py
protos/train.proto
